<div class="profile-container">

    <h2>Adresgegevens</h2>
    <textinput [disabled]="true" [label]="'Straat'"></textinput>
    <textinput [disabled]="true" [label]="'Huisnummer'"></textinput>
    <textinput [disabled]="true" [label]="'Postcode'"></textinput>
    <textinput [disabled]="true" [label]="'Woonplaats'"></textinput>
    <h2>Contactgegevens</h2>
    <textinput [disabled]="true" [label]="'Klantnummer'"></textinput>
    <textinput [label]="'E-mailadres'"></textinput>
    <textinput [label]="'Mobiel telefoonnummer'"></textinput>
    <textinput [label]="'Telefoonnummer'"></textinput>
</div>