<div class="login-container">
  <div class="header">
    <p class="logintext">Login</p>
  </div>

  <div class="form">
    <form class="example-form">
      <input
        type="text"
        placeholder="email address"
        [(ngModel)]="emailAddress"
        id="emailAddress"
        name="emailAddress"
        [value]="emailAddress"
        required
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        id="password"
        name="password"
        [value]="password"
        required
      />
    </form>
  </div>

  <button class="login-button" (click)="login()">Login</button>

  <p class="registertext">
    Don't have an account yet?
    <a (click)="register()" class="here">Click here</a> to register.
  </p>
</div>
